/****** Main Styling ******/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #315659;
	background-color: #c4cbca;
	text-align: center;
	line-height: 1.4em;
  padding-top: 60px;
}

.container {
	padding: 0;
	margin-top: 40px;
}

h3 {
  margin-top: 30px;
}

footer {
	margin-top: 40px;
}

footer a {
  font-weight: bold;
  color: #7c6c77;
}

.user-stories {
  position: relative;
  text-align: justify;
  max-width: 700px;
  margin: 15px auto;
}
code {
  font-family: monospace;
  padding: 2px;
  color: black;
  background-color: #cedfd9;
}
ol {
	list-style-position: outside;
}
ul {
	list-style-type: none;
}

li {
  margin-bottom: 0.5em;
}
.user-stories li {
  margin-bottom: 1em;
}

a {
	color: #2574A9;
}
